{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achieve: A To Do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

	{% include 'navbar_user.html' %}

	<div class="container">
		<p class="d-flex justify-content-center align-items-center">Are you sure you want to delete "{{item}}"?</p>

		<a class="d-flex justify-content-center btn btn-secondary" href="{% url 'index' %}" >Cancel</a>
	
		<form method="POST">
			{% csrf_token %}
			<input class="btn btn-danger" type="submit" value="Delete" name="Confirm">
		</form>
	</div>
	

</body>
</html>

