{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achieve: A To Do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

    {% include 'navbar_user.html' %}


    <div class="center-column">

        <form method="POST">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-success" type="submit" value="Add Task" name="Create Task">
        </form>

        {% comment %}
        <form method="POST" action="/">
            {% csrf_token %}
            {{categoryForm.name}}
        </form>
        {% endcomment %}
    
        <div class="todo-list">
    
        {% for task in tasks %}
            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
                <form>
                    <div>
                        <input type="checkbox" id="strike">
                        <span id="high">{{task}}</span>   
                    </div>    
                </form>

            </div>
        {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>    
</body>
</html>