{% load static %}

{% include 'main.html' %}

<body>
    {% include 'navbar_guest.html' %}

    <style>
        body{
            background-image: url("../static/img/Circuit_Lines.png"); /* Background image */
        }

        li{
            list-style-type: none; /* Remove bullets */
        }

        h1{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        ul{
            text-align: center;
            margin-left: auto;
        }

        #welcome{
            font-size: 30px;
        }
        #archive{
            font-size: 90px;
        }
        .title{
            margin-top: 120px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;
        }

        .form{
            width: 30%;
            margin: 0 auto;
            text-align: center;
        }

        #submit-btn{
            width: 120px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        .links{
            margin-top: 100px;
            margin-right: 50px;
            margin-bottom: 80px;
            line-height: 40px;
            font-weight: bold;
            font-size: 18px;
        }
    </style>

    <div class="container">
        <div class="title">
            <h1 id="welcome">Welcome to</h1>
            <h1 id="archive" style="color: #20B688;">Archive,</h1> 
        </div>
    
            <!-- Email input -->
        <div class="form">
            <form method="POST" class="user">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Your username or email" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password1">
                </div>
                <input id="submit-btn" type="submit" class="btn btn-primary btn-user btn-block" placheholder="Login">
            </form>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="{% url 'register' %}">Sign up</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About us</a>
                </li>
                <li>
                    <a href="">Learn more</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- The Title -->

    
</body>